
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.container{
    position: relative;
    margin: 2rem 5rem;


}
.container-section{
    margin: 2rem 3.5rem;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.nav-header{
    color: blueviolet;
    z-index: 99;
    font-size: 13px;
}
nav ul{
    display: flex;
    gap: 1.3rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: blueviolet;
    font-size: 12px;
    z-index: 9;
}
.icon i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    overflow: hidden;
}
.nav-slide{
    top: -800%;
    transition: 0.3s;
    display: none;
}
.dark{
    background-color: black;
    color: white;
    transition: 1s;
}
.darkmode {
    cursor: pointer;
    font-size: 1.5em;
    z-index:9;
    overflow: hidden;
}
/* section */
section{
    display: flex;
    justify-content: space-between;
}
.header-section{
    margin-top: 7rem;
}
.header-section h1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 40px;
    color: blueviolet;
}
.header-section h2{
    font-weight: 600;
    color: #1E1E1E;
}
.header-section p{
    margin-bottom: 1.5rem;
   font-weight: 300;
}
.header-section button{
    padding: 7px 10%;
    border-radius: 5px;
    border: none;
}
.header-section .btn:hover{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;

}
.header-section .btn1:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(0.9);
    color: #1E1E1E;
}
.header-section .btn{
    background-color: blueviolet;
    color: aliceblue;
}
.header-section .btn1{
   border: 1px solid blueviolet;
   color: blueviolet;
}








@media(max-width:600px){
    html{
        font-size: 70%;
    }
    nav ul li a{
        display: none;
    }
    .container{
        margin: 1rem 0;
        padding: 0;
    }
    /* nav slide */
.nav-slide ul li{
    list-style: none;
    text-align: center;

}
.nav-slide ul {
    line-height: 4rem;

}
.nav-slide ul li a{
    text-decoration: none;
    color: aliceblue;
}
    .nav-slide{
    display: block;
    background-color: blueviolet;
    position: absolute;
    width: 98%;
    margin-left: 4px;
    border-radius: 10px;
}
.active{
    top: 4rem;
    transition: ease-in-out;
    transition: 0.3s;
}
    .icon i{
    font-size: 2rem;
    display: block;
}
section{
    flex-wrap: wrap;
    font-size: 1.7rem;
    margin-top: -6rem;
}
.icon i{
   font-size: 3rem;
}
.darkmode{
    font-size: 3rem;
}

} 
@media(max-width:415px){
    html{
        font-size: 70%;
    }
    .container{
        margin: 3rem 0;
        padding: 0;
    }
    section{
        margin-left: -20px;
    }
    .header-section p{
         font-size: 15px;
    }
    .header-section h1{
         font-size: 50px;
    }
  
    .header-section button{
        font-size: 11px;
        width: 150px;
    }
    .header-section .btn{
        height: 55px;
    }
    .header-section .btn1{
        height: 55px;
    }
    .image-section img{
        width: 340px;
    }

}
@media(max-width:376px){
    html{
        font-size: 50%;
    }
    .container{
        margin: 1rem 0;
        padding: 0;
    }
    .header-section button{
        font-size: 10px;
    }
    .image-section img{
        width: 300px;
    }

}